<app-navigation></app-navigation>

<main id="app-main-content">
  <div id="view-container">
    <!-- Tasks Tracker View -->
    <div id="view-tasks" class="app-view active">
      <header>
        <h1>Todo App</h1>
        <div class="subtitle">Focus on your micro-tasks & daily targets</div>
      </header>
      <todo-list></todo-list>
      <todo-input></todo-input>
    </div>
    
    <!-- User Profile View -->
    <div id="view-profile" class="app-view">
      <user-profile></user-profile>
    </div>
  </div>
</main>
